<html>
  <head>
    <link href="style.css" rel='stylesheet', type='text/css'>
    <title><%= @title || "Student Information System"%></title>
  </head>
<body>
  <h1>Student Information System</h1>
  <img src="image/class.jpg" width=100%>
<ul>
<li><a href='/'>Home</a>  </li>
<li><a href='/about'>About</a>  </li>
<li><a href='/contact'>Contact</a>  </li>
<li><a href='/students'>Students</a>  </li>
<li><a href='/comments'>Comment</a>  </li>
<li><a href='/video'>Video</a>  </li>
<li><a href='/login'>Login</a>  </li>
</ul>
<h3>The website stores and displays Student Information! The application shows all the students with their First Name, Last Name, Address and Date of Birth. Authorised user can also create and update student information.</h3>

<h3>Apart from student information, it shows comments with the owner of comment and timestamp of creating the comment. Authorised user can create new comment.</h3>

<h3> Authorised user can login using the "Login" tab!</h3>

<h3>"Video" tab will open a small .mp4 clip and be able to play the video.</h3>
</body>
</html>